body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.game-container {
  font-size: 50px;
  padding: 70px;
  text-align: center;
  max-width: 100%;
  width: 500px;
  height: auto;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

h1 {
  font-size: 40px;
  margin-bottom: 25px;
  font-weight: bold;
}

p {
  font-size: 30px;
  margin: 20px 0;
}

input {
  font-size: 40px;
  padding: 30px;
  width: 80%;
  border: 2px solid #000;
  border-radius: 5px;
  text-align: center;
}

button {
  padding: 16px 24px;
  font-size: 20px;
  background-color: #f4f4f4;
  color: #333333;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #e6e6e6;
}

#result {
  font-size: 20px;
  margin-top: 25px;
}

#attempts {
  font-size: 16px;
  margin-top: 14px;
}

@media (max-width: 768px) {
  .game-container {
    width: 90%;
    height: auto;
    padding: 40px;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }

  input {
    font-size: 30px;
    padding: 20px;
  }

  button {
    padding: 12px 18px;
    font-size: 18px;
  }

  #result {
    font-size: 18px;
  }

  #attempts {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .game-container {
    width: 95%;
    padding: 20px;
  }

  h1 {
    font-size: 25px;
  }

  p {
    font-size: 18px;
  }

  input {
    font-size: 25px;
    padding: 15px;
  }

  button {
    padding: 10px 16px;
    font-size: 16px;
  }

  #result {
    font-size: 16px;
  }

  #attempts {
    font-size: 12px;
  }
}
